<div class="container">
  <div class="col-12 pt-5">
    <h3>Prueba Tecnica Evalart </h3>
  </div>
  <div class="col-12">
    <span>Presentado por: </span>
    <span>Leonardo Herrera Muñoz</span>
  </div>
  <div class="col-12 text-center pt-5 py-5 tlt-chart">
    <h4>Test Adn </h4> 
  </div>
    <div class="row">
      <div class="col-1 text-right px-0">
        <span>Ingrese Adn:</span>
      </div>
      <div class="col-6 text-left">
        <input type="text" name="txt-adn" id="txt-adn" class="txt-adn-input" [(ngModel)]="stringAdn" (keyup)="validateAdn(stringAdn)">
      </div>
      <div class="col-7 text-center px-0 py-3" *ngIf="isMutant">
        <span *ngIf="isMutant">Mutante</span>
        <span *ngIf="!(isMutant)">No-Mutante</span>
      </div>
      <div class="col-7 text-center px-0 py-3" *ngIf="StringAdnPerfect === false">
        <span>La cadena de adn no es cuadrada o no contiene los caracteres requeridos (A, C, T, G)</span>
      </div>

    </div>
</div>